table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

table {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    width: 400px;
}

table th {background-color: rgb(130, 122, 170); }
td.total {background-color: lightgrey; }
.right {text-align: right; }